@page
@model mission9_nconrad3.Pages.BuyCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks for your purchase!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>